<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <%- include('partials/navbar'); %>
  <div id="hero">
    <div id="title">
      <h1>Welcome to <span style="color: #daa520">Metea CSC</span></h1>
    </div>
  </div>

  <main>
    <div style="margin-right: 3rem;">
      <%- aboutus %>
    </div>
    <div>
      <%- faq %>
    </div>
  </main>

  <%- include('partials/footer'); %>
</body>

</html>